/*
 * @Author: xyh 
 * @Date: 2020-09-22 00:30:30 
 * @Last Modified by: xyh
 * @Last Modified time: 2020-09-23 20:53:32
 */

.page {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: $background-color;
  animation: myOpacity 2.5s;
}
@keyframes myOpacity{
  0%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}