
// 颜色相关
$theme-color: #5340a7;
$background-color: #fff;
$color-header: #cccccc;
$color-default: #000000;
$background-color-hover:  #2e86de;
// 圆角
$border-radius: 30px;

// 图标宽高
$width-default: 20px;
$height-default: 20px;

// 字体相关
$max-font: 24px;
$med-font: 18px;
$min-font: 14px;
$color-hover: #fff;