.bgi{
  background-size: 100% 100%;
  transition: all 1.8s;
  filter: blur(20px);
}
.box{
  position: relative;
}
.topBanner{
  position: absolute;
  transform: translateX(-50%);
  top: 0;
  left: 50%;
}
.swiper {
  width: 1200px;
  position: relative;
  
  margin: 0 auto;
}
.banner {
  height: 400px;
  width: 1200px;
  display: flex;
  position: relative;
  li {
    width: 1200px;
    position: absolute;
    top: 0;
    left: 0;
    list-style: none;
    transition: all 1.8s;
    img {
      width: 100%;
      height: 100%;
      cursor: pointer;
      filter: blur(0);
    }
  }
}
.circle {
  height: 40px;
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  z-index: 2;
  li{
    list-style: none;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
      width: 16px;
      height: 16px;
      cursor: pointer;
      border: 1px solid #eee;
      background-color: rgba(204, 204, 204,.8);
      border-radius: 50%;
    }
  }
  
  .checkCircle {
    background-color: $theme-color;
  }
}
.btn{
  width: 96%;
  margin: 0 2% 0 2%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: calc(50% - 50px);
  left: 0;
  div {
    z-index: 2;
    width: 100px;
    height: 100%;
    transition: all .8s;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    & :hover {
      background-color: rgba(0, 0, 0,.2);
    }
  }
}
