html,body {
  border: 0;
  margin: 0;
  overflow: hidden;
  &::-webkit-scrollbar {
    width: 10px;    
    /*height: 4px;*/
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.2);
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.1);

  }
}
#root {
  min-width: 1200px;
  background-color:#ecf0f1;
}
ul {
  padding: 0;
  margin: 0;
  li {
    padding: 0;
    margin: 0;
  }
}

