.personalized{
  box-sizing: border-box;
  padding: 20px;
  .header {
    .content{
      display: flex;
      position: relative;
      margin-bottom: 10px;
    }
    .title{
      height: 30px;
      display: flex;
      align-items: center;
      .outside{
        border-radius: 50%;
        height: 20px;
        width: 20px;
        background-color: $theme-color;
        display: flex;
        align-items: center;
        justify-content: center;
        .inside{
          border-radius: 50%;
          height: 8px;
          width: 8px;
          background-color: #fff;
        }
      }
      .text{
        display: block;
        padding-left: 10px;
        font-size: 22px;
        font-weight: 500;
        cursor: pointer;
      }
      
    }
    ul{
      list-style: none;
      display: flex;
      height: 30px;
      align-items: center;
      margin: 0;
      margin-left: 20px;
      color: #999999;
      li{
        width: 50px;
        span{
          cursor: pointer;
          transition: all 0.2s;
          &:hover{
            text-decoration:underline;
            color: $theme-color;
            font-weight: 600;
          }
        }
      }
    }
    .more{
      position: absolute;
      top: 0;
      right: 0;
      height: 30px;
      display: flex;
      align-items: center;
      cursor: pointer;
      color: #999999;
      transition: all .2s;
      &:hover{
        text-decoration:underline;
        color: $theme-color;
        font-weight: 600;
      }
    }
    .line{
      height: 2px;
      background-color: $theme-color;
    }
  }
  
  .item{
    background-color: red;
  }
}