.content {
  width: 100%;
  min-width: 1200px;
}
.content_two{
  background-color: #fff;
  width: 100%;
  min-width: 1200px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  border-left: 1px solid $background-color-hover;
  border-right: 1px solid $background-color-hover;
  .left{
    flex: 2;
    border-right: 1px solid $background-color-hover;
  }
  .right{
    flex: 1;
  }
}